:root {
  --ft-body-def: 0.875rem;
  --ft-nav-rt-def: 0.813rem;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 25rem;
}

.base {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--ft-body-def);
  font-family: arial, sans-serif;
  color: #202124;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}

.btn-2, .btn-1 {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: inherit;
  font-size: inherit;
  margin: 0.688rem 0.25rem;
  padding: 0 1rem;
  line-height: 1.688rem;
  height: 2.25rem;
  min-width: 3.375rem;
  cursor: pointer;
  user-select: none;
}

.btn-2:hover, .btn-1:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

header {
  flex-shrink: 0;
}

.nav {
  display: flex;
  height: 3.75rem;
  padding: 0.375rem;
  align-items: center;
}
.nav-lt {
  display: flex;
  align-items: center;
}
.nav-lt a {
  padding: 0.313rem;
  margin: 0 0.313rem;
}
.nav-lt a:first-of-type {
  margin-left: 0.938rem;
}
.nav-rt {
  font: var(--ft-nav-rt-def) Roboto, RobotoDraft, Arial, sans-serif;
  margin-left: auto;
  padding: 0 0.25rem;
  display: flex;
  align-items: center;
}
.nav-rt .content {
  display: flex;
  align-items: center;
  padding: 0 0.938rem 0 0;
}
.nav-rt .content a {
  padding-left: 0.938rem;
  color: rgba(0, 0, 0, 0.87);
}
.nav-rt .apps-menu {
  padding: 0.25rem;
}
.nav-rt .apps-menu .shade {
  padding: 0.5rem;
  border-radius: 50%;
}
.nav-rt .apps-menu svg {
  color: #5f6368;
  opacity: 1;
}
.nav-rt .profile {
  padding: 0.25rem;
}
.nav-rt .profile .shade {
  padding: 0.25rem;
  border-radius: 50%;
}
.nav-rt .shade:hover {
  background-color: rgba(60, 64, 67, 0.08);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  min-height: 5.75rem;
  max-height: 18.125rem;
  height: calc(100% - 35rem);
}
.top-container {
  max-height: 5.75rem;
  margin-top: auto;
  height: 100%;
}
.top-container img {
  display: block;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
}

.mid {
  padding: 1.25rem;
  max-height: 10rem;
  flex-shrink: 0;
}
.mid-container {
  width: auto;
  max-width: 36.5rem;
  margin-inline: auto;
  padding-top: 0.375rem;
}
.mid-container .searchbox {
  width: inherit;
  max-width: inherit;
  margin: inherit;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  box-sizing: content-box;
  border-radius: 24px;
  height: 2.75rem;
}
.mid-container .searchbox-container {
  flex: 1;
  display: flex;
  padding: 0.313rem 0.5rem 0 1rem;
  padding-left: 0.875rem;
  box-sizing: border-box;
}
.mid-container .searchbox .search-icon {
  display: flex;
  align-items: center;
  padding-right: 0.813rem;
  margin-top: -0.313rem;
}
.mid-container .searchbox .search-icon .icon {
  margin: auto;
  line-height: normal;
}
.mid-container .searchbox .search-icon .icon .search-image {
  margin-top: 0.188rem;
  color: #9aa0a6;
  height: 1.25rem;
  width: 1.25rem;
  display: inline-block;
  fill: currentColor;
  line-height: 1.5rem;
}
.mid-container .searchbox .search-icon .icon .search-image svg {
  display: block;
  height: 100%;
  width: 100%;
}
.mid-container .searchbox .inputarea {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
.mid-container .searchbox .inputarea-container {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 2.125rem;
}
.mid-container .searchbox .inputarea .input {
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -2.313rem;
  height: 2.125rem;
  font-size: 1rem;
  font-family: inherit;
}
.mid-container .searchbox:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}
.mid-container .btn-area {
  height: 70px;
  padding-top: 18px;
}
.mid-container .btn-area-center {
  text-align: center;
}

.bottom {
  flex-grow: 1;
  flex-shrink: 0;
}

.footer {
  background: #f2f2f2;
  flex-shrink: 0;
  line-height: normal;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1.25rem;
}
@media (max-width: 75rem) {
  .footer-container {
    justify-content: space-evenly;
  }
}
.footer-container-lt {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: 30%;
  order: 1;
}
.footer-container-mid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  order: 2;
}
.footer-container-mid img {
  vertical-align: baseline;
}
@media (max-width: 75rem) {
  .footer-container-mid {
    order: 0;
    width: 100%;
    justify-content: center;
  }
}
.footer-container-rt {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  min-width: 30%;
  order: 3;
}
.footer-container .link {
  color: #70757a;
  display: block;
  padding: 0.938rem;
  white-space: nowrap;
  text-decoration: none;
}
.footer-container .link:hover {
  text-decoration: underline;
}
.footer-container .leaf {
  height: 0.875rem;
  margin-right: 0.375rem;
}
.footer-container .carbon-text {
  white-space: nowrap;
  vertical-align: top;
}