:root {
  --ft-body-def: 0.875rem;
  --ft-nav-rt-def: 0.813rem;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 25rem;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--ft-body-def);
  font-family: arial, sans-serif;
  color: #202124;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}

.nav {
  display: flex;
  height: 3.75rem;
  padding: 0.375rem;
  align-items: center;
}
.nav-lt {
  display: flex;
  align-items: center;
}
.nav-lt a {
  padding: 0.313rem;
  margin: 0 0.313rem;
}
.nav-lt a:first-of-type {
  margin-left: 0.938rem;
}
.nav-rt {
  font: var(--ft-nav-rt-def) Roboto, RobotoDraft, Arial, sans-serif;
  margin-left: auto;
  padding: 0 0.25rem;
  display: flex;
  align-items: center;
}
.nav-rt .content {
  display: flex;
  align-items: center;
  padding: 0 0.938rem 0 0;
}
.nav-rt .content a {
  padding-left: 0.938rem;
}
.nav-rt .apps-menu {
  padding: 0.25rem;
}
.nav-rt .apps-menu .shade {
  padding: 0.5rem;
  border-radius: 50%;
}
.nav-rt .apps-menu svg {
  color: #5f6368;
  opacity: 1;
}
.nav-rt .profile {
  padding: 0.25rem;
}
.nav-rt .profile .shade {
  padding: 0.25rem;
  border-radius: 50%;
}
.nav-rt .shade:hover {
  background-color: rgba(60, 64, 67, 0.08);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 5.75rem;
  max-height: 18.125rem;
  height: calc(100% - 35rem);
}
.top-container {
  max-height: 5.75rem;
  margin-top: auto;
  height: 100%;
}
.top-container img {
  display: block;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
}